<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${specificUser.getName() + ' info'}">placeholder title</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
    <h1 th:text="'Info for ' + ${specificUser.getName()}"></h1>
    <table>
        <tr>
            <th>
                age
            </th>
            <th>
                weight
            </th>
            <th>
                height
            </th>
            <th>
                gender
            </th>
            <th>
                activity level
            </th>
            <th>
                edit info
            </th>
        </tr>
        <tr>
            <td th:text="${specificUser.getAge()}"></td>
            <td th:text="${specificUser.getWeight()}"></td>
            <td th:text="${specificUser.getHeight()}"></td>
            <td th:text="${specificUser.getGender()}"></td>
            <td th:text="${specificUser.getActivityLevel()}"></td>
            <td>
                <form method="get" th:action="@{'/user/' + ${specificUser.getId()} + '/EditUser'}">
                    <button type="submit">Edit User Info</button>
                </form>
            </td>
        </tr>
    </table>

    <h2>caloric needs</h2>

    <p>Select the date to display calorie data for</p>
    <form method="get" th:action="@{#}">
        <label for="date">Date:</label>
        <input type=date id="date" name="date">
        <button type="submit">get data</button>
    </form>

    <p th:text="'based on the above information, you can eat up to
    ' + ${#numbers.formatDecimal(dailyCalories, 2, 0)} + ' calories per day'"></p>

    <p th:text="'to lose 1 lb a week, you need to eat about ' +
    (${#numbers.formatDecimal(dailyCalories, 2, 0)} - 500) + ' calories per day'"></p>

    <p th:text="'to gain 1 lb a week, you need to eat about ' +
    (${#numbers.formatDecimal(dailyCalories, 2, 0)} + 500) + ' calories per day'"></p>

    <p th:text="'based on the table below, you have eaten ' +  ${calorieCount} + ' calories today'"></p>

    <p th:text="'you can eat ' + ${caloriesLeft} + ' more calories today'"></p>

    <h2>calorie data</h2>
    <table>
        <tr>
            <th>
                food name
            </th>
            <th>
                calorie amount
            </th>
            <th>
                edit item
            </th>
            <th>
                remove item
            </th>
        </tr>
        <tr th:each="item : ${userCalorieList}">
            <td th:text="${item.getItemName()}"></td>
            <td th:text="${item.getCalorieCount()}"></td>
            <td>
                <form method="get" th:action="@{'/user/' + ${specificUser.getId()} + '/EditItem/' + ${item.getId()}}">
                    <button type="submit" th:text="'edit ' + ${item.getItemName()}"></button>
                </form>
            </td>
            <td>
                <form method="post" th:action="@{'/user/' + ${specificUser.getId()} + '/RemoveItem/' + ${item.getId()}}">
                    <button type="submit" th:text="'delete ' + ${item.getItemName()}"></button>
                </form>
            </td>
        </tr>
    </table>

    <form method="post" th:action="@{'/user/' + ${specificUser.getId()} + '/AddItem'}">
        <label for="name">Food name:</label><br>
        <input type="text" id="name" name="name"><br>

        <label for="calories">Amount of calories:</label><br>
        <input type="text" id="calories" name="calories"><br><br>

        <button type="submit">add item</button>
    </form>
</body>
</html>